/* Mobile first */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(90deg, #2563eb, #4f46e5);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

header {
  font-size: 2.5rem;
  color: white;
  text-align: center;
  margin: 20px 0;
}

section {
  background-color: white;
  width: 90%;
  margin: auto;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.375);
}

section div {
  font-size: 1.3rem;
}

.caixas {
  margin: 10px 0;
}

#button {
  margin: 10px 0;
}

footer {
  color: white;
  text-align: center;
  font-style: italic;
  margin-top: 30px;
}

/* Tablet */
@media (min-width: 670px) {
  section {
    width: 70%;
    transition: 0.5s;
  }
}

/* Telas grandes */
@media (min-width: 950px) {
  section {
    width: 50%;
    transition: .5s
  }
}

/* body {
    background: rgb(70, 142, 236);
    font: normal 15pt Arial;
}

header {
    text-align: center;
    color: white;
    font-size: 30pt;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.319);
}

footer {
    text-align: center;
    color: white;
    font-style: italic;
} */
